#todos {
  border: 3px solid rgba(57,129,169,1);
  border-radius: 10px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#todos > h1 {
  margin: 10px 0px 0px 0px;
  padding: 10px 20px 5px 30px;
  border-bottom: 1px solid black;
}

.addTodo {
  padding: 10px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.addTodo > input[type=text] {
  flex: 1 1 70%;
  margin-top: 5px;
}

.addTodo > button {
  flex: 0 0 25%;
  margin-top: 5px;
}
